
.secondary-navbar{
    background-color: $color1;
    a{
        color:#fff;
    }
}

table{
    thead{
        th{
            background-color: $color1;
            color:$color2;
        }       
    }
}