.welcome-body{
    //background-color: #fff;
    background-image: url('../wallpapers/mainwallpaper.png'), linear-gradient(#8DBB23 , #fff , #fff );
    background-repeat: no-repeat;
    background-position: center 55vh, top;
    h2{
        color:#fff;
        
    }
}