@import '~bootstrap/scss/bootstrap';


$color1:#72d484;
$color2: #fff;

@import 'users';


.main-nav{
    background-color:$color1;
    ul{
        li{
            a{
                color: $color2;
            }
        }
    }
}

