@import '~bootstrap/scss/bootstrap';


$color1:#8DBB23;
$color2: #fff;

@import 'users';

body{
    padding-top:60px;
    position: relative;
    min-height: 100vh;
}
.main-nav{
    background-color:$color1;
    ul{
        li{
            a{
                color: $color2;
            }
        }
    }
}

.table-container{
    max-height: 80vh;
    min-height: 30vh;
}

.form-container{
    background-color: $color1;
    border-radius: 5px;
    label{
        color: $color2;
    }
}
