// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'welcome';

body{
    min-height: 100vh;
    position: relative;
    padding-bottom: 70px;
    background-color: $color1;
    #app{
        nav{
            background-color: $color2;
            a{
                color:$color1;
            }
        }
        .left-column{
            background-color:$color2;
            
           // max-height: 100vh;
            h1{
                background-color: $color1;
                color:$color4;
            }
            div:nth-child(2){
                background-color: $color2;
            }
            .search-container-home{
                background-color: $color2;
                padding: 20px 0px;
            }
        }
        .posts-container{
         //   height: 100vh;
        }
    }
}

@media screen and (max-width:600px){
   body {
       #app{
           .posts-container{
            height: auto;
           }
       }
   }
}