// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'welcome';

body{
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
    //background-color: $color1;
    font-family: 'Acme', sans-serif;
    background-color: #F6F6F6;
    #app{
        .login-container{
            background-color: #F6F6F6;
            .card-header{
                background-color: $color5;
                color:$color1;
                
            }
            .card-body{
                button{
                    background-color: $color5;
                    color:#fff;
                }
            }
        }
        nav{
            background-color: $color5;
            a{
                color:$color1;
            }
        }
        .left-column-container{
            position: relative;
            .left-column{
                background-color:$color1;
               // max-height: 100vh;
                h1{
                    background-color: $color1;
                    color:$color4;
                }
                div:nth-child(2){
                    background-color: $color2;
                }
                .search-container-home{
                    // background-color: $color2;
                    // padding: 20px 5px;
                    .card-header{
                        background-color: $color4;
                    }
                }
            }
        }
        .about-container{
            background-image: url('/wallpapers/about.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            min-height: 90vh;
            h3{
                color: $color4;
                font-weight: bold;
                font-size: 1.7rem;
                text-align: center;
            }
            .sec{
                background-color: rgba(255, 255, 255, 0.664);
                border-radius: 5px;
                color: $color4;
                h4{
                    text-align: center;
                }
            }
        }
        .pagination-nav{
            background-color: #fff;
            ul{
                
                li{
                    .act{
                        color:$color1;
                        background-color: $color4;
                    }
                }
            }
        }
    }
}










@media screen and (max-width:600px){
   body {
       #app{
           .posts-container{
            height: auto;
           }
       }
   }
}