// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'welcome';

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background-color: #fff;
    #app{
        .login-nav{
            background-color: $color2;
            span{ 
                font-size: 1rem;
                color:#fff;          
            }
        }
        nav{
            background-color: $color1;
            a{
                color:#000;
                &.navbar-brand{
                color: $color2;
                font-weight: bold;
                }
            }
        }
        .left-column-container{
            position: relative;
            .left-column{
                background-color:$color1;
                h1{
                    background-color: $color1;
                    color:$color4;
                }
                div:nth-child(2){
                    background-color: $color2;
                }
                .search-container-home{
                    .card-header{
                        background-color: $color4;
                    }
                }
            }
        }
        .pagination-nav{
            background-color: #fff;
            ul{
                
                li{
                    .act{
                        color:$color1;
                        background-color: $color4;
                    }
                }
            }
        }
        
    }
}


.blog-showcase{
    background-image:url('../wallpapers/category_3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 50vh;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3{
        font-size: 2rem;
        font-weight: bolder;
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
        letter-spacing:4px;
    }
    p{
        text-transform: uppercase;
        font-size: 1.1rem;
    }
}

.about-container{
    .about-showcase{
        background-image:url('../wallpapers/image-5.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 50vh;
        color:#fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3{
            font-size: 2rem;
            font-weight: bolder;
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
            letter-spacing:4px;
        }
        p{
            text-transform: uppercase;
            font-size: 1.1rem;
        }
    }
    .content{
        div{
           div:nth-child(1){
            min-height: 80vh;
            background-image:url('../wallpapers/abou.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            } 
            div:nth-child(2){
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h5{
                    font-size: 2.5rem;
                    font-family: 'Poppins', sans-serif;
                }
                p{  
                    color: rgb(100, 100, 100);
                    font-size: 1.1rem;
                    font-family: 'Poppins', sans-serif;
                }
                } 
        }
        
    }
}

.contact-container{
    .contact-showcase{
        background-image:url('../wallpapers/contac.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 50vh;
        color:#fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3{
            font-size: 2rem;
            font-weight: bolder;
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
            letter-spacing:4px;
        }
        p{
            text-transform: uppercase;
            font-size: 1.1rem;
        }
    }
    .content{
        div.row{
           .contact-col1{
            min-height: 80vh;
            background-image:url('../wallpapers/image-3.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            } 
            .contact-col2{
                background-color: #F7F6F2;
                display: flex;
                flex-direction: column;
                } 
        }
        
    }
}

.login-container{
    .login-showcase{
        background-image:url('../wallpapers/bg1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 50vh;
        color:#fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3{
            font-size: 2rem;
            font-weight: bolder;
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
            letter-spacing:4px;
        }
        p{
            text-transform: uppercase;
            font-size: 1.1rem;
        }
    }
    .content{
        div.row{
           .login-col1{
                min-height: 80vh;
                background-image:url('../wallpapers/img7.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            } 
            .login-col2{
                background-color: #F7F6F2;
                display: flex;
                flex-direction: column;
                //justify-content: center;
               // align-items: center;
                } 
        }
        
    }
}

.notification-badge{
    cursor: pointer;
}

.green{
    background-color: $color2;
    color: #fff;
    &:hover{
        background-color: #fff;
        color: $color2;
    }
}


@media screen and (max-width:600px){
   body {
       #app{
           .posts-container{
            height: auto;
           }
       }
   }
}

